.container{border:3px solid yellow;}
     body{background-color : grey}
    .col-12,.col-9,.col-3{border : 3px solid yellow;}
    #header{background-color :pink;}
      #menu{background-color : lightblue;}
       #content{background-color : white;}
        #fotter{background-color :pink;}
     ul{list-style:none}
     ul li {display : inline;
            padding : 20px}