.container{
   border: 5px solid green;
}

.row{
   border: 5px solid yellow;
}
.pink{
   background-color: pink;
}

.lightblue {
   background-color: lightblue;
}

.col-12, .col-6, .col-md-9, .col-md-3, .col-md-6, .col-md-3, {
   border: 3px solid red;
}