<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the main Spring XML configuration file -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean for a single Post.
         Scope is 'prototype' because we want a new Post object every time it's requested. -->
    <bean id="post" class="com.theskysid.socialmedia.SimplePost" scope="prototype" />

    <!-- Bean for the list of posts.
         Scope is 'singleton' so that all posts are stored in one shared list. -->
    <bean id="postList" class="com.theskysid.socialmedia.SimplePostList" scope="singleton" />

    <!-- Bean for the User.
         We are setting the postList dependency using setter injection. -->
    <bean id="user" class="com.theskysid.socialmedia.SimpleUser">
        <property name="postList" ref="postList" />
    </bean>

</beans>
